:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-clr : #ffffff;
  --hover-text-clr: #ffffff;
  --btn-bg-clr : #7f12e6;
  --btn-hover-clr : #7809d3;
  --btn-hover-txt-clr: rgb(223, 219, 219);
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: #d400ff;
  border-radius: 20px;
}
a {
  font-weight: 500;
 
  text-decoration: inherit;
}
a:hover {
  color: var(--hover-text-clr);
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--btn-bg-clr);
  transition: border-color 0.25s;
  color: var(--text-clr);
}
button:hover {
  background-color: var(--btn-hover-clr);
  color: var(--btn-hover-txt-clr);
}
button:active{
  background-color: #56089e;
}
.textarea{
  width: 100%;
  display: flex;
  margin: 0px auto;
  flex-direction: column;

}
.textarea label{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.textarea textarea{
width: 100%;
background-color: #242424;
padding: 10px 20px;
color: white;
margin: 0px auto;
border-radius: 12px;
font-size: 16px;
will-change: scroll-position;
resize: none;
}

.btn-group{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}


#EditingPage{
  width: 80%;
  margin: 0 auto;
  padding: 3% 8%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.controls-btn{
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
  }
  .textInfo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    color: #dadada;
    gap: 26px;
}
.previewSection{
  width: 80%;
  margin: 0px auto;
  padding: 0 8%;
}
.previewSection label{
  color: #cecece;
  font-weight: 500;
  font-size: 27px;
}

.tools{
  width: 80%;
  margin: 0px auto;
  padding: 4% 8%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 20px;
}
.tools h1{
  text-align: center;
}
.color-selection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 30%;
}
.color-selection label{
  font-size: 20px;
  font-weight: 600;
}
.color-selection input{
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
}
.colorsSelect{
 display: flex; 
 width: 100%;
 align-items: center;
 justify-content: space-around;
 margin-top: 4%;
}